<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Teleop Twist Keyboard -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard" name="teleop_twist_keyboard"  output="screen">
    <param name="_speed" value="0.9" type="double"/>
    <param name="_turn" value="0.8" type="double"/>
  </node>
</launch>
